body, h1, h2, p, input, button, address {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.row {
  max-width: 100%;
}

.row .question {
  background: #E5E5E5;
}

.row .question input {
  box-shadow: 0 5px 5px #CCCCCC;
  margin: 0 auto 72px;
  height: 48px;
  width: 520px;
}

.row .question h1 {
  color: #4C8CF5;
  margin: 40px auto 32px;
  text-align: center;
}

.row .question h2, .row .question p {
  font-family: "Nunito", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2em;
  background-color: #fff;
  height: 48px;
  width: 680px;
  align-items: center;
  display: flex;
  margin: 0 auto 16px;
  padding-left: 20px;
}

.row .question #img {
  margin: 100px 0;
}

address {
  margin: 32px auto;
  text-align: center;
}
