$color-1:#E5E5E5;
$color-2:#4C8CF5;
$color-3:#CCCCCC;
$color-4:#222;
$font-1: 'Nunito', sans-serif;


// h1
// fontsize:32px;
// lineheigh:43,65px
// font weigh: 600

// corpo:
// 20px
// lh:24px
// weight:400

// footer
// 16px
// lh:24px
// weigh:400