$color-1:#E5E5E5;
$color-2:#4C8CF5;
$color-3:#CCCCCC;
$color-4:#222;
$font-1: 'Nunito', sans-serif;

@function em($pixel, $contexto: 16) {
    @return $pixel / $contexto + em;
}

@mixin type-1($size) {
    font-family: $font-1;

    @if $size == 16 {
        font-size: em(16);
        font-weight: 400;
        line-height: em(24, 16);
    }
    @else if $size == 20{
        font-size: em(20);
        font-weight: 400;
        line-height: em(24, 20);
    }
    @else if $size == 32 {
        font-size: em(32);
        font-weight: 600;
        line-height: em(43.65, 32);
    }
}
